$maxWidth: 1130px;
//$mainColor: #000;
$mainColor: #2E2E2E;
$mainTextColor: #2E2E2E;
$templateSecondColor: #2E2E2E;
//$mainBgColor: #f1f1f1;
//$mainBgColor: #f1f1f1;
//$mainFont: 400 16px/1.5 'Mavi Sans', sans-serif;
$mainFont: 400 16px/1.5 'Montserrat', sans-serif;
$mainBgColor: #fff;
$black: #2E2E2E;
$red: #B9192B;
$grey: #F8F8F8;
$yellow: #fdd02c;
$blue: #317BE9;
$green: #5ebb2e;
$white: #ffffff;