.footer {
    border-top: 1px solid #EAEAEA;
    background: #F8F8F8;
    
  &Schedule {
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  &Contacts {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px 20px;

    &Row {
      margin: 10px 0 0 0;
      span {
        display: block;
      }

      a {
        text-decoration: none;
        color: inherit;
        margin: 0 10px;
      }
    }
  }

    &Content {
        padding: 20px 20px;
        margin: 0 auto;
        text-align: center;
    }

    &Bottom {
        border-top: 1px solid #EAEAEA;
        padding: 14px 20px;
        margin: 0 auto;
        text-align: center;
    }
}